h1{
    color: #2296c7;
    font-size: 40px;
    font-family: Helvetica,sans-serif;
    text-align: center;
}

h2{
    color: aqua;
    font-family: Helvetica,sans-serif;
    text-align: right;
}

h3{
    font-family: comic sans,comic sans Ms, cursive
}

p{
    font-weight: 600;
    text-decoration: line-through;
}

table{
    font-family: Helvetica,sans-serif;
    border-width: 2px;
    border-style:solid;
    border-color: #58FAF4;
    background-color: darkorange;
}

th{
    font-weight: 600;
}